<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.basis.mapper.BasisCustomerMapper">

    <resultMap type="BasisCustomer" id="BasisCustomerResult">
        <result property="id"    column="id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="customerCode"    column="customer_code"    />
        <result property="customerName"    column="customer_name"    />
        <result property="businessLicense"    column="business_license"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="telephone"    column="telephone"    />
        <result property="mobilePhone"    column="mobile_phone"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="customerLevel"    column="customer_level"    />
        <result property="contactPersonOne"    column="contact_person_one"    />
        <result property="telephoneOne"    column="telephone_one"    />
        <result property="invoiceLookedUp"    column="invoice_looked_up"    />
        <result property="invoiceTax"    column="invoice_tax"    />
        <result property="invoiceType"    column="invoice_type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectBasisCustomerVo">
        select id, warehouse_id, customer_code, customer_name, business_license, contact_person, telephone, mobile_phone, email, address, customer_level, contact_person_one, telephone_one, invoice_looked_up, invoice_tax, invoice_type, del_flag, create_by, create_time, update_by, update_time, remark, dept_id from wms_basis_customer
    </sql>

    <select id="selectBasisCustomerList" parameterType="BasisCustomer" resultMap="BasisCustomerResult">
        <include refid="selectBasisCustomerVo"/>
        <where> del_flag ='0'
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="customerCode != null  and customerCode != ''"> and customer_code = #{customerCode}</if>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="businessLicense != null  and businessLicense != ''"> and business_license = #{businessLicense}</if>
            <if test="contactPerson != null  and contactPerson != ''"> and contact_person = #{contactPerson}</if>
            <if test="telephone != null  and telephone != ''"> and telephone = #{telephone}</if>
            <if test="mobilePhone != null  and mobilePhone != ''"> and mobile_phone = #{mobilePhone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="customerLevel != null  and customerLevel != ''"> and customer_level = #{customerLevel}</if>
            <if test="contactPersonOne != null  and contactPersonOne != ''"> and contact_person_one = #{contactPersonOne}</if>
            <if test="telephoneOne != null  and telephoneOne != ''"> and telephone_one = #{telephoneOne}</if>
            <if test="invoiceLookedUp != null  and invoiceLookedUp != ''"> and invoice_looked_up = #{invoiceLookedUp}</if>
            <if test="invoiceTax != null "> and invoice_tax = #{invoiceTax}</if>
            <if test="invoiceType != null  and invoiceType != ''"> and invoice_type = #{invoiceType}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
        </where>
    </select>

    <select id="selectBasisCustomerById" parameterType="Long" resultMap="BasisCustomerResult">
        <include refid="selectBasisCustomerVo"/>
        where id = #{id}
    </select>

    <insert id="insertBasisCustomer" parameterType="BasisCustomer" useGeneratedKeys="true" keyProperty="id">
        insert into wms_basis_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="customerCode != null">customer_code,</if>
            <if test="customerName != null">customer_name,</if>
            <if test="businessLicense != null">business_license,</if>
            <if test="contactPerson != null">contact_person,</if>
            <if test="telephone != null">telephone,</if>
            <if test="mobilePhone != null">mobile_phone,</if>
            <if test="email != null">email,</if>
            <if test="address != null">address,</if>
            <if test="customerLevel != null">customer_level,</if>
            <if test="contactPersonOne != null">contact_person_one,</if>
            <if test="telephoneOne != null">telephone_one,</if>
            <if test="invoiceLookedUp != null">invoice_looked_up,</if>
            <if test="invoiceTax != null">invoice_tax,</if>
            <if test="invoiceType != null">invoice_type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="deptId != null">dept_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="customerCode != null">#{customerCode},</if>
            <if test="customerName != null">#{customerName},</if>
            <if test="businessLicense != null">#{businessLicense},</if>
            <if test="contactPerson != null">#{contactPerson},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="mobilePhone != null">#{mobilePhone},</if>
            <if test="email != null">#{email},</if>
            <if test="address != null">#{address},</if>
            <if test="customerLevel != null">#{customerLevel},</if>
            <if test="contactPersonOne != null">#{contactPersonOne},</if>
            <if test="telephoneOne != null">#{telephoneOne},</if>
            <if test="invoiceLookedUp != null">#{invoiceLookedUp},</if>
            <if test="invoiceTax != null">#{invoiceTax},</if>
            <if test="invoiceType != null">#{invoiceType},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deptId != null">#{deptId},</if>
        </trim>
    </insert>

    <update id="updateBasisCustomer" parameterType="BasisCustomer">
        update wms_basis_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="customerCode != null">customer_code = #{customerCode},</if>
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="businessLicense != null">business_license = #{businessLicense},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="mobilePhone != null">mobile_phone = #{mobilePhone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="address != null">address = #{address},</if>
            <if test="customerLevel != null">customer_level = #{customerLevel},</if>
            <if test="contactPersonOne != null">contact_person_one = #{contactPersonOne},</if>
            <if test="telephoneOne != null">telephone_one = #{telephoneOne},</if>
            <if test="invoiceLookedUp != null">invoice_looked_up = #{invoiceLookedUp},</if>
            <if test="invoiceTax != null">invoice_tax = #{invoiceTax},</if>
            <if test="invoiceType != null">invoice_type = #{invoiceType},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBasisCustomerById" parameterType="Long">
        delete from wms_basis_customer where id = #{id}
    </delete>

    <delete id="deleteBasisCustomerByIds" parameterType="String">
        delete from wms_basis_customer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 校验客户编码是否唯一 -->
    <select id="checkCustomerCodeUnique" parameterType="String" resultType="int">
        select count(1) from wms_basis_customer where del_flag = '0' and customer_code=#{customerCode} limit 1
    </select>

</mapper>