<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改库位(储位)设置')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-storage-edit" th:object="${whStorage}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">库位编码：</label>
            <div class="col-sm-8">
                <input name="storageCode" th:field="*{storageCode}" class="form-control" type="text" maxlength="16" required readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">库位名称：</label>
            <div class="col-sm-8">
                <input name="storageName" th:field="*{storageName}" class="form-control" type="text" maxlength="30" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">库位条码：</label>
            <div class="col-sm-8">
                <input name="storageBarcode" th:field="*{storageBarcode}" class="form-control" type="text" maxlength="32">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">所属库区：</label>
            <div class="col-sm-8">
                <select id="reservoirId" name="reservoirId" class="form-control m-b" required>
                    <option value="">请选择</option>
                </select>
                <!--<span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">库位类型：</label>
            <div class="col-sm-8">
                <select name="storageType" class="form-control m-b" th:with="type=${@dict.getType('wms_storage_type')}" required>
                    <option value="">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{storageType}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">库位属性：</label>
            <div class="col-sm-8">
                <select name="storageAttribute" class="form-control m-b" th:with="type=${@dict.getType('wms_storage_attribute')}" required>
                    <option value="">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{storageAttribute}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">库位尺寸：</label>
            <div class="col-sm-8">
                <select id="storageSizeId" name="storageSizeId" class="form-control m-b">
                    <option value="">请选择</option>
                </select>
               <!-- <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">出库口：</label>
            <div class="col-sm-8">
                <input name="outbound" th:field="*{outbound}" class="form-control" type="text" maxlength="16">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" maxlength="200">[[*{remark}]]</textarea>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var prefix = ctx + "wh/storage";
    var reservoirId = [[${whStorage.reservoirId}]];
    var storageSizeId = [[${whStorage.storageSizeId}]];

    $(function () {
        //初始化库区设置
        getReservoirList();
        //初始化库位尺寸
        getStorageSizeList();
    })

    $("#form-storage-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-storage-edit').serialize());
        }
    }

    /**
     * 获取库区设置下拉框信息
     */
    var warehousePrefix = ctx + "wh/reservoir"
    function getReservoirList(){
        var data = {};
        var config = {
            url: warehousePrefix + "/ajaxList",
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
            },
            success: function(result) {
                //console.log(result)
                if (result.code == web_status.SUCCESS) {
                    var str="";
                    $.each(result.data, function(index,value){
                        if(value.id == reservoirId){
                            str+='<option value="'+value.id+'" selected>'+value.reservoirCode+'---'+value.reservoirName+'【'+value.warehouseName+'】'+'</option>';
                        }else{
                            str+='<option value="'+value.id+'">'+value.reservoirCode+'---'+value.reservoirName+'【'+value.warehouseName+'】'+'</option>';
                        }
                    });
                    $('#reservoirId').append(str);
                }else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            }
        };
        $.ajax(config)
    }

    /**
     * 获取库区设置下拉框信息
     */
    var storageSizePrefix = ctx + "wh/storageSize"
    function getStorageSizeList(){
        var data = {};
        var config = {
            url: storageSizePrefix + "/ajaxList",
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
            },
            success: function(result) {
                //console.log(result)
                if (result.code == web_status.SUCCESS) {
                    var str="";
                    $.each(result.data, function(index,value){
                        if(value.id == storageSizeId){
                            str+='<option value="'+value.id+'" selected>'+value.storageSizeName+'</option>';
                        }else{
                            str+='<option value="'+value.id+'">'+value.storageSizeName+'</option>';
                        }
                    });
                    $('#storageSizeId').append(str);
                }else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            }
        };
        $.ajax(config)
    }
</script>
</body>
</html>