<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wh.mapper.WhStorageSizeMapper">
    
    <resultMap type="WhStorageSize" id="WhStorageSizeResult">
        <result property="id"    column="id"    />
        <result property="storageSizeName"    column="storage_size_name"    />
        <result property="length"    column="length"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
        <result property="maxWeight"    column="max_weight"    />
        <result property="maxTray"    column="max_tray"    />
        <result property="maxVolume"    column="max_volume"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectWhStorageSizeVo">
        select id, storage_size_name, length, width, height, max_weight, max_tray, max_volume, del_flag, create_by, create_time, update_by, update_time, remark, dept_id from wms_wh_storage_size
    </sql>

    <select id="selectWhStorageSizeList" parameterType="WhStorageSize" resultMap="WhStorageSizeResult">
        <include refid="selectWhStorageSizeVo"/>
        <where>  del_flag = '0'
            <if test="storageSizeName != null  and storageSizeName != ''"> and storage_size_name like concat('%', #{storageSizeName}, '%')</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="height != null "> and height = #{height}</if>
            <if test="maxWeight != null "> and max_weight = #{maxWeight}</if>
            <if test="maxTray != null "> and max_tray = #{maxTray}</if>
            <if test="maxVolume != null "> and max_volume = #{maxVolume}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectWhStorageSizeById" parameterType="Long" resultMap="WhStorageSizeResult">
        <include refid="selectWhStorageSizeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWhStorageSize" parameterType="WhStorageSize" useGeneratedKeys="true" keyProperty="id">
        insert into wms_wh_storage_size
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storageSizeName != null">storage_size_name,</if>
            <if test="length != null">length,</if>
            <if test="width != null">width,</if>
            <if test="height != null">height,</if>
            <if test="maxWeight != null">max_weight,</if>
            <if test="maxTray != null">max_tray,</if>
            <if test="maxVolume != null">max_volume,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storageSizeName != null">#{storageSizeName},</if>
            <if test="length != null">#{length},</if>
            <if test="width != null">#{width},</if>
            <if test="height != null">#{height},</if>
            <if test="maxWeight != null">#{maxWeight},</if>
            <if test="maxTray != null">#{maxTray},</if>
            <if test="maxVolume != null">#{maxVolume},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateWhStorageSize" parameterType="WhStorageSize">
        update wms_wh_storage_size
        <trim prefix="SET" suffixOverrides=",">
            <if test="storageSizeName != null">storage_size_name = #{storageSizeName},</if>
            <if test="length != null">length = #{length},</if>
            <if test="width != null">width = #{width},</if>
            <if test="height != null">height = #{height},</if>
            <if test="maxWeight != null">max_weight = #{maxWeight},</if>
            <if test="maxTray != null">max_tray = #{maxTray},</if>
            <if test="maxVolume != null">max_volume = #{maxVolume},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWhStorageSizeById" parameterType="Long">
        delete from wms_wh_storage_size where id = #{id}
    </delete>

    <delete id="deleteWhStorageSizeByIds" parameterType="String">
        delete from wms_wh_storage_size where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>